<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/Checkered Keelback.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">Checkered Keelback</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely a Checkered Keelback. The Checkered Keelback is a mildly venomous snake,but harmless to humans. It's venom is non lethal and it helps in maintaining pest control in natural environments</center></p>
