<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/green vine snake.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">Green vine snake</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely a Green vine snake. The green vine snake is a mildly venomous snake,but harmless to humans.They have rear fangs and are not known to pose a significant threat. It's venom is non lethal and it helps in maintaining pest control in natural environments</center></p>
