<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/Indian Python.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">Indian Python</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely an Indian Python. The Indian Python is a non-venomous snake,but deadly. It is very strong and capable of constricting to inflict harm. It won't cause harm to humans unless threatened. If spotted near settlements, has to be replocated.</center></p>
