<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/King Cobra.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">King Cobra</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely a King Cobra. The King Cobra is a deadly snake capable of dispensing a large volume of venom in a single bite. It is very aggressive and won't hesitate to bite when threatened. It's venom is Neurotoxic, affects the nervous system. Please contact Animal Help authorities immediately.</center></p>
