<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/Malabar pit viper.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">Malabar pit viper</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely a Malabar pit viper. The Malabar pit viper is a deadly venomous snake. It is a very shy snake and always tries to avoid confrontation. It's venom is both hemotoxic and neurotoxic, causes blood clots and affects the nervous system. Please contact Animal Help authorities immediately.</center></p>
