<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/Russel's Viper.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">Russel's Viper</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely a Russel's Viper. The Russel's Viper is a deadly snake with highly potent venom. It is very shy snake and will try to hide when threatened. It's venom is hemotoxic, clots the blood. Please contact Animal Help authorities immediately.</center></p>
