<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/snake_display.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='styles/trinket snake.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<p style="color:white;text-align:center;font-size:64px!important;">Trinket snake</p>
<p><center style="color:white;font-size:24px!important;">The snake you spotted is likely a Trinket Snake. The trinket snake is a harmless non-venomous snake. It is very aggressive and won't hesitate to bite when threatened. It poses no threat to humans and helps in pests control in the natural environment.</center></p>
